$font: #2f3542;
$text-color: #ffffffe3;
$policeGras: 'Rowdies', cursive;
$police: 'Poppins', sans-serif;
$background-color: #1e90ff;
$background-color-alpha: #3f9efd7e;
$card-font: #171c20;
$link: #7d5fff;
$warning: #ff6348; 