.card-container{
    width: 100vw;
    max-width: 450px;
    border: 1px solid $link;
    border-radius: 15px;
    p{
        text-align: left;
        margin: 5px;
        font-size: .8rem;
        color: $text-color;
    }
    li{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .hidden{
        display: none;
    }
    .card-box{
        margin: 0 15px;
        padding: 0 15px;
        
        .title-card{
            text-align: center;
            font-size: 1.1rem;
        }
        .header-card{
            margin: 0 5px;
            h3{
                text-align: center;
                font-size: 1rem;
                margin: 5px;
                text-decoration: underline;
            }
        }

        .body-form > form{
            width: 100%;
            display: inline-grid;
            gap: 15px;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
        }
    }
    
    .link{
        color: $link;
        cursor: pointer;
    }
}
