.connection-form{
    display: grid;
    justify-content: center;
    margin-top: 10em;  
}

@media screen and (max-width: 600px) {
    .connection-form{
        margin-top: 4em;
    }
    .card-container{
        border: none;
    }
  }